div(class="Menu" data-component="Menu")
  div(class="Menu-items")
    ul(class="Menu-list")
      li
        button(id="Button-name" class="Menu-button") Why the name
      li
        button(id="Button-purpose" class="Menu-button") It's in the water
      li
        button(id="Button-culture" class="Menu-button") Our culture
      li
        button(id="Button-getting-started" class="Menu-button") Getting started
      li
        button(id="Button-tools" class="Menu-button") Tools of the trade
      li
        button(id="Button-sales" class="Menu-button") Sales & Marketing
      li
        button(id="Button-the-end" class="Menu-button") Change is good
  button(class="Menu-buttonClose" id="Menu-buttonClose") Close
  div(class="Shape" id="Shape" data-morph-open="M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z")
    svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none")
      path(d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z")


