.Menu-buttonOpen
  position: fixed
  z-index: 1000
  margin: 1em
  padding: 0
  width: 2.5em
  height: 2.25em
  border: none
  text-indent: 2.5em
  font-size: 1.5em
  color: transparent
  background: transparent
  &:before
    position: absolute
    top: 0.5em
    right: 0.5em
    bottom: 0.5em
    left: 0.5em
    background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%)
    content: ''
