min-xs()
  @media (min-width: 480px)
    {block}
min-sm()
  @media (min-width: 768px)
    {block}
min-md()
  @media (min-width: 992px)
    {block}
min-lg()
  @media (min-width: 1200px)
    {block}
min-xl()
  @media (min-width: 1400px)
    {block}


max-xs()
  @media (max-width: 480px)
    {block}
