typographic()

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, li
  font-family: CalibreWeb, Helvetica, Arial
  -webkit-font-smoothing: antialiased

 .emoji
    font-weight: normal
    font-style: normal
    font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols"

