/* -------------------------------------------- */
/* ----------------- COLORS ------------------- */
/* -------------------------------------------- */

$menu-background-color = #373a47
$menu-font-color = #f5f5f5
$brand-yellow = #eccd00
$brand-navy = #3e404d
